<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post Details Page</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h2>Here is your post in detail</h2>
  <p>Post id: <%= post.id %>
  </p>
  <div class="post">
    <h3>@<%= post.username %>
    </h3>
    <h4>
      <%= post.content %>
    </h4>
  </div>
  <br>
  <a href="/posts">See all posts</a>
</body>

</html>